body{
   background-color:#E4FFE1;
}

h1{

    height: 130px;
    width: 660px;
    text-align: center;
    
    
}

   
.logo{
        float: left;
        
}

.ouderavondsign{
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-left: 250px;
}

.text{
    position: absolute;
    bottom: 0;
    left: 0;
}



.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
}

.nav-links li:not(:last-child) {
    border-right: 1px solid #888; 
    margin-right: 20px;
    padding-right: 20px; 
}

.nav-links li a {
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.navbar{
    background:#B2E99E; 
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: 80px; 
    
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
    display: inline-block;
    
}

li a {
    color: black;
    font-size: 20px;
    margin-right: 50px;
    margin-left: 30px;
    display: inline;


}
